# Postgres (Railway)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB?schema=public"

# NextAuth
NEXTAUTH_SECRET="replace-with-random-32+chars"
NEXTAUTH_URL="http://localhost:3000"

# OpenAI
OPENAI_API_KEY=""
OPENAI_MODEL="gpt-5"
